<ng-container *ngIf="weatherForecastDaysArray.length > 0">
    <div class="weather-forecast-container">
        <div class="weather-group" *ngFor="let weatherForecastDay of weatherForecastDaysArray">
            <table>
                <tr>
                    <td class="weather-image-container" colspan="2">
                        <img src="https://openweathermap.org/img/wn/{{weather.icon}}@2x.png"/>
                    </td>
                </tr>
                <tr>
                    <td class="weather-date-container" colspan="2">
                        <b>{{weatherForecastDay.date| date:'EEE dd-MMM'}}</b>
                    </td>
                </tr>
                <tr>
                    <td class="weather-attribute-title">
                        <b>Outlook:</b>
                    </td>
                    <td>{{weatherForecastDay.desc}} </td>
                </tr>
                <tr>
                    <td class="weather-attribute-title">
                        <b>Temperature:</b>
                    </td>
                    <td>{{weatherForecastDay.temp | number:"1.0-0"}}C</td>
                </tr>
                <tr>
                    <td class="weather-attribute-title">
                        <b>Humidity:</b>
                    </td>
                    <td>{{weatherForecastDay.humidity}}%</td>
                </tr>
                <tr>
                    <td class="weather-attribute-title">
                        <b>Wind:</b>
                    </td>
                    <td>{{weatherForecastDay.wind.speed | number:"1.0-0"}}mph</td>
                </tr>
            </table>
        </div>
    </div>
</ng-container>
