<ng-container *ngIf="weatherForecastDaysArray.length > 0">
    <ng-container *ngIf="config.days > 1">
        <div class="weather-forecast-container-multi-day">
            <div class="weather-group" *ngFor="let weatherForecastDay of weatherForecastDaysArray">
                <table>
                    <tr>
                        <td class="weather-image-container" colspan="2">
                            <img src="https://openweathermap.org/img/wn/{{weatherForecastDay.icon}}@2x.png" alt="Weather forecast day icon"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="weather-date-container" colspan="2">
                            <b>{{weatherForecastDay.date| date:'EEE dd-MMM'}}</b>
                        </td>
                    </tr>
                    <tr>
                        <td class="weather-attribute-title">
                            <b>Outlook:</b>
                        </td>
                        <td>{{weatherForecastDay.desc}} </td>
                    </tr>
                    <tr>
                        <td class="weather-attribute-title">
                            <b>Temperature:</b>
                        </td>
                        <td>{{weatherForecastDay.temp | number:"1.0-0"}}C</td>
                    </tr>
                    <tr>
                        <td class="weather-attribute-title">
                            <b>Humidity:</b>
                        </td>
                        <td>{{weatherForecastDay.humidity}}%</td>
                    </tr>
                    <tr>
                        <td class="weather-attribute-title">
                            <b>Wind:</b>
                        </td>
                        <td>{{weatherForecastDay.wind.speed | number:"1.0-0"}}mph</td>
                    </tr>
                </table>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="config.days === 1">
        <div class="weather-forecast-container-single-day">
            <div class="container-fluid" *ngFor="let weatherForecastDay of weatherForecastDaysArray">
                <div class="row">
                    <div class="col col-lg-12 weather-date-container">
                        <b>{{weatherForecastDay.date| date:'EEEE dd MMMM'}}</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-lg-4">
                        <div class="weather-image-container" [ngStyle]="(weatherImageContainerStyle | async)">
                            <img src="https://openweathermap.org/img/wn/{{weatherForecastDay.icon}}@4x.png" alt="Weather forecast day icon"/>
                        </div>
                    </div>
                    <div class="col col-lg-2">
                        <div class="weather-temperature-container" [ngStyle]="(weatherTemperatureContainerStyle | async)">
                            <div class="weather-temperature">
                                {{weatherForecastDay.temp | number:"1.0-0"}}C
                            </div>
                        </div>
                    </div>
                    <div class="col col-lg-6">
                        <div class="weather-data-container" [ngStyle]="(weatherDataContainerStyle | async)">
                            <div class="row">
                                <div class="col col-lg-6 weather-attribute">
                                    <span class="weather-attribute-title">
                                        Outlook:
                                    </span>
                                    {{weatherForecastDay.desc}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-lg-6 weather-attribute">
                                    <span class="weather-attribute-title">
                                        Humidity:
                                    </span>
                                    {{weatherForecastDay.humidity}}%
                                </div>
                            </div>
                            <div class="row">
                                <div class="col col-lg-6 weather-attribute">
                                    <span class="weather-attribute-title">
                                        Wind:
                                    </span>{{weatherForecastDay.wind.speed | number:"1.0-0"}}mph
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</ng-container>
