.weather-forecast-container-multi-day {
    display: flex;
    justify-content: center;
}

.weather-forecast-container-multi-day .weather-group {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.weather-forecast-container-multi-day .weather-image-container, .weather-date-container {
    padding-right: 3px;
    text-align: center;
    font-size: large;
}

.weather-forecast-container-multi-day .weather-attribute-title {
    padding-right:  3px;
    text-align: right;
    font-weight: bold;
}

.weather-forecast-container-multi-day .weather-image-container img {
    height: 65px;
}

.weather-forecast-container-single-day {
    justify-content: left;
}

.weather-forecast-container-single-day .weather-date-container {
    text-align: left;
}

.weather-forecast-container-single-day .weather-image-container {
    margin-top: 10%;
}

.weather-forecast-container-single-day .weather-image-container img {
    width: 85%;
    height: auto;
    max-width: 140px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.weather-forecast-container-single-day .weather-temperature-container {
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.weather-forecast-container-single-day .weather-temperature-container .weather-temperature {
    font-size: 1em;
    width: 40px;
}

.weather-forecast-container-single-day .weather-data-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.weather-forecast-container-single-day .weather-data-container .weather-attribute-title {
    font-weight: bold;
}

.weather-attribute {
    display: inline-block;
    white-space: nowrap;
}
