.weather-forecast-container {
    display: flex;
    justify-content: center;
}

.weather-group {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.weather-image-container, .weather-date-container {
    padding-right: 3px;
    text-align: center;
}

.weather-attribute-title {
    padding-right:  3px;
    text-align: right;
}

.weather-image-container img {
    height: 65px;
}