<ng-form>

    <c8y-form-group>
          OpenWeatherAPI Configuration
    </c8y-form-group>

    <c8y-form-group>
        <label for="openWeather-apikey">
            API Key
        </label>
        <input type="text" name="weatherAPIConfig-apikey" id="openWeather-apikey"
            class="form-control bar-chart-control"
            [(ngModel)]="config.apikey" placeholder='Enter your OpenWeather API Key' />
    </c8y-form-group>

    <c8y-form-group>
        <label for="openWeather-days">
            Days
        </label>
        <input type="number" min="1" max="5" name="weatherAPIConfig-days" id="openWeather-days" class="form-control"
            [(ngModel)]="config.days" placeholder="Enter the number of forecast days" />
    </c8y-form-group>

    <c8y-form-group>
        <label for="openWeather-period">
            Refresh (in hours)
        </label>
        <input type="number" min="1" max="24" name="weatherAPIConfig-period" id="openWeather-period"
            class="form-control bar-chart-control"
            [(ngModel)]="config.refreshPeriod" placeholder='Update period (hours)' />
    </c8y-form-group>

    <c8y-form-group>
        <label for="openWeather-city">
            City
        </label>
        <input type="text" name="weatherAPIConfig-city" id="openWeather-city"
            class="form-control bar-chart-control"
            [(ngModel)]="config.city" placeholder='City (blank=<device location>)' />
    </c8y-form-group>
</ng-form>